*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
composer.lock
application/config/flagship-api-sdk-master/composer.lock
application/config/flagship-api-sdk-master/vendor
dompdf-master/composer.lock
dompdf-master/vendor/
google-translate-php-master/composer.lock
google-translate-php-master/vendor/

