.product-thumbs {
    position: relative;
    display: block;
}
.product-thumbs img.thumbs {
    height: 80px;
}
.product-thumbs.active img {
    border: 1px solid yellow;
}
.product-thumbs .action {
    display: none;
    position: absolute;
    width: 80px;
    height: 80px;
    align-items: center;
    box-sizing: content-box;
    color: grey;
    margin: 0 auto;
}
.product-thumbs:hover .action {
    /* background-color: #b8c6db80; */
    background-image: linear-gradient(315deg, #b8c6db80 0%, #f5f7fa80 80%);
    display: flex;
}
.product-thumbs .action>* {
    margin-left: auto;
    margin-right: auto;
}
.k-popup-edit-form.k-window-content {
    overflow: visible;
}
